
<div *ngIf="bankAccount">
    <h2><span jhiTranslate="bankerApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bankerApp.bankAccount.accountNo">Account No</span></dt>
        <dd>
            <span>{{bankAccount.accountNo}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.bankAccount.funds">Funds</span></dt>
        <dd>
            <span>{{bankAccount.funds}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.bankAccount.user">User</span></dt>
        <dd>
            {{bankAccount.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-account-ng/'+ bankAccount.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
