<div>
    <h2>
        <span jhiTranslate="bankerApp.paymentOrder.home.title">Payment Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-payment-order-ng" [routerLink]="['/', { outlets: { popup: ['payment-order-ng-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bankerApp.paymentOrder.home.createLabel">
            Create new Payment Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="funds"><span jhiTranslate="bankerApp.paymentOrder.funds">Funds</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="bankerApp.paymentOrder.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="insertDate"><span jhiTranslate="bankerApp.paymentOrder.insertDate">Insert Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="bankerApp.paymentOrder.updateDate">Update Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceAccAccountNo"><span jhiTranslate="bankerApp.paymentOrder.sourceAcc">Source Acc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="targetAccAccountNo"><span jhiTranslate="bankerApp.paymentOrder.targetAcc">Target Acc</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentOrder of paymentOrders ;trackBy: trackId">
                <td><a [routerLink]="['../payment-order-ng', paymentOrder.id ]">{{paymentOrder.id}}</a></td>
                <td>{{paymentOrder.funds}}</td>
                <td jhiTranslate="{{'bankerApp.PaymentOrderStatus.' + paymentOrder.status}}">{{paymentOrder.status}}</td>
                <td>{{paymentOrder.insertDate | date:'medium'}}</td>
                <td>{{paymentOrder.updateDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="paymentOrder.sourceAccId">
                        <a [routerLink]="['../bank-account-ng', paymentOrder.sourceAccId  ]" >{{paymentOrder.sourceAccAccountNo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paymentOrder.targetAccId">
                        <a [routerLink]="['../bank-account-ng', paymentOrder.targetAccId  ]" >{{paymentOrder.targetAccAccountNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment-order-ng', paymentOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-order-ng/'+ paymentOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-order-ng/'+ paymentOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paymentOrders && paymentOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
