
<div *ngIf="paymentOrder">
    <h2><span jhiTranslate="bankerApp.paymentOrder.detail.title">Payment Order</span> {{paymentOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bankerApp.paymentOrder.funds">Funds</span></dt>
        <dd>
            <span>{{paymentOrder.funds}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.paymentOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'bankerApp.PaymentOrderStatus.' + paymentOrder.status}}">{{paymentOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.paymentOrder.insertDate">Insert Date</span></dt>
        <dd>
            <span>{{paymentOrder.insertDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.paymentOrder.updateDate">Update Date</span></dt>
        <dd>
            <span>{{paymentOrder.updateDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bankerApp.paymentOrder.sourceAcc">Source Acc</span></dt>
        <dd>
            <div *ngIf="paymentOrder.sourceAccId">
                <a [routerLink]="['/bank-account-ng', paymentOrder.sourceAccId]">{{paymentOrder.sourceAccAccountNo}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bankerApp.paymentOrder.targetAcc">Target Acc</span></dt>
        <dd>
            <div *ngIf="paymentOrder.targetAccId">
                <a [routerLink]="['/bank-account-ng', paymentOrder.targetAccId]">{{paymentOrder.targetAccAccountNo}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-order-ng/'+ paymentOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
