<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPaymentOrderLabel" jhiTranslate="bankerApp.paymentOrder.home.createOrEditLabel">Create or edit a Payment Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!paymentOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="paymentOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.funds" for="field_funds">Funds</label>
            <input type="number" class="form-control" name="funds" id="field_funds"
                [(ngModel)]="paymentOrder.funds" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="paymentOrder.status" id="field_status" >
                <option value="ZADAN">{{'bankerApp.PaymentOrderStatus.ZADAN' | translate}}</option>
                <option value="IZVRSEN">{{'bankerApp.PaymentOrderStatus.IZVRSEN' | translate}}</option>
                <option value="ODBIJEN">{{'bankerApp.PaymentOrderStatus.ODBIJEN' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.insertDate" for="field_insertDate">Insert Date</label>
            <div class="d-flex">
                <input id="field_insertDate" type="datetime-local" class="form-control" name="insertDate" [(ngModel)]="paymentOrder.insertDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.updateDate" for="field_updateDate">Update Date</label>
            <div class="d-flex">
                <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="paymentOrder.updateDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.sourceAcc" for="field_sourceAcc">Source Acc</label>
            <select class="form-control" id="field_sourceAcc" name="sourceAcc" [(ngModel)]="paymentOrder.sourceAccId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.accountNo}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.targetAcc" for="field_targetAcc">Target Acc</label>
            <select class="form-control" id="field_targetAcc" name="targetAcc" [(ngModel)]="paymentOrder.targetAccId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.accountNo}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
