<div>
    <h2>
        <span jhiTranslate="bankerApp.paymentOrder.home.title">Payment Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-payment-order-ng" [routerLink]="['/', { outlets: { popup: ['payment-dialog-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="bankerApp.paymentOrder.home.createLabel">
                Create new Payment Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row">
    </div>
    <h4>Balance: {{currentBankAccount?.funds}}</h4>
    <br/>
    <div class="table-responsive" *ngIf="paymentOrders">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        <span jhiTranslate="global.field.id">ID</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="funds">
                        <span jhiTranslate="bankerApp.paymentOrder.funds">Funds</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="status">
                        <span jhiTranslate="bankerApp.paymentOrder.status">Status</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="insertDate">
                        <span jhiTranslate="bankerApp.paymentOrder.insertDate">Insert Date</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="updateDate">
                        <span jhiTranslate="bankerApp.paymentOrder.updateDate">Update Date</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="targetAccAccountNo">
                        <span jhiTranslate="bankerApp.paymentOrder.targetAcc">Target Acc</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="form-control" [(ngModel)]="paymentOrderQuery.status" (change)="search()">
                            <option [ngValue]="null"></option>
                            <option value="ZADAN">{{'bankerApp.PaymentOrderStatus.ZADAN' | translate}}</option>
                            <option value="IZVRSEN">{{'bankerApp.PaymentOrderStatus.IZVRSEN' | translate}}</option>
                            <option value="ODBIJEN">{{'bankerApp.PaymentOrderStatus.ODBIJEN' | translate}}</option>
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentOrder of paymentOrders ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['../payment-order-ng', paymentOrder.id ]">{{paymentOrder.id}}</a>
                    </td>
                    <td>{{paymentOrder.funds}}</td>
                    <td jhiTranslate="{{'bankerApp.PaymentOrderStatus.' + paymentOrder.status}}">{{paymentOrder.status}}</td>
                    <td>{{paymentOrder.insertDate | date:'medium'}}</td>
                    <td>{{paymentOrder.updateDate | date:'medium'}}</td>
                    <td>
                        <div *ngIf="paymentOrder.targetAccId">
                            <a [routerLink]="['../bank-account-ng', paymentOrder.targetAccId  ]">{{paymentOrder.targetAccAccountNo}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../payment-order-ng', paymentOrder.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paymentOrders && paymentOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
