<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="modal-title" id="myPaymentOrderLabel" jhiTranslate="bankerApp.paymentOrder.home.createLabel">Create a Payment Order</h4>
                </div>
                <div class="col">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br />
                    <h5>Balance: {{currentBankAccount?.funds}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.funds" for="field_funds">Funds</label>
            <input type="number" min="1" class="form-control" name="funds" id="field_funds" [(ngModel)]="paymentOrder.funds" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bankerApp.paymentOrder.targetAcc" for="field_targetAcc">Target Acc</label>
            <select class="form-control" id="field_targetAcc" name="targetAcc" [(ngModel)]="paymentOrder.targetAccId" #targetAcc="ngModel"
                required>
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.userLogin + ' - ' + bankAccountOption.accountNo}}</option>
            </select>
            <div *ngIf="targetAcc.dirty && targetAcc.invalid">
                <small class="form-text text-danger" *ngIf="targetAcc.errors.required" jhiTranslate="error.NotNull">
                    Target acc is required.
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.order">Order</span>
            </button>
        </div>
</form>
